* {
     margin: 0;
     padding: 0;
}

header {

}

.container {
     max-width: 1200px;
     margin: 50px auto;
     display: flex;
     flex-direction: row;
}

.filters {
     width: 25%;
}

.filter-list {
     list-style-type: none;
     font-family:  Helvetica;
     font-size: 14px;
     color: white;
     text-transform: uppercase;
}

.filter-list li {
     display: inline-block;
     text-align: left;
     padding: 10px 0;
     align-content: center;
     padding-left: 10px;
     width: 300px;
     margin-top: 3px;
     margin: bottom: 3px;
     background-color: #0033A0;
}

.filter-list li:hover {
     background-color: #202c5f
}

.books {
     width: 75%;
}

.grid {
     width: 95%;
     margin-left: 5%;
     background-color: gray;
}

/* clear fix */
.grid:after {
     content: '';
     display: block;
     clear: both;
}

.grid-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.grid-item--width2 { width: 200px; }
