@font-face {
font-family: 'Gotham XLight Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham XLight Regular'), url('fonts/Gotham-XLight.woff') format('woff');
}

@font-face {
font-family: 'Gotham Light Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Light Regular'), url('fonts/Gotham-Light.woff') format('woff');
}

@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('fonts/GothamBook.woff') format('woff');
}

@font-face {
font-family: 'Gotham Bold';
font-style: normal;
font-weight: normal;
src: local('Gotham Bold'), url('fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
font-family: 'Gotham Black';
font-style: normal;
font-weight: normal;
src: local('Gotham Black'), url('fonts/Gotham-Black.woff') format('woff');
}

body#noScroll {
     overflow: hidden;
}

body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}

.container {
     display: flex;
     flex-direction: row;
     margin: 40px 0px;
}

.filter-buttons {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0px 40px;
     position: fixed;
}

.filter-buttons button {
     margin: 0;
     margin-bottom: 8px;
     padding: 0px 40px 0px 15px;
     border: none;
     text-align: left;
     display: flex;
     flex-direction: row;
     width: 240px;
     height: 40px;
     justify-content: space-between;
     align-items: center;
     background: #1897D4;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
     color: white;
     font-size: 11px;
     font-family: 'Gotham Book';
}

button:focus {
     outline: none;
}

#X {
     font-family: 'Gotham Book';
     font-size: 20px;
     position: relative;
     left: 20px;
     display: flex;
     opacity: 0;
}

.filter-buttons button:active {
     background-color: #202C57;
}

.filter-buttons button p {
     position: relative;
     bottom: 8px;
     line-height: 11px;
     width: auto;
     z-index: 2;
}

#clear-button {
     height: 70px;
     background: #FFFFFF;
     border: .25 solid #A5ACAF;
     box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .25);
     border-radius: 2px;
     font-family: "Gotham Black";
     font-size: 22px;
     color: black;
     margin: 20px 0px;
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#clear-p {
     position: relative;
     top: 5px;
}

.grid-container {
     width: 1350px;
     float: right;
     position: relative;
     left: 330px;
}

.column {
     float: left;
}

.size-1of4 {
     width: 25%;
}

#grid[data-columns]::before {
     content: '4 .column.size-1of4';
}

.column div {
     margin-right: 40px !important;
     margin-bottom: -20px !important;
}

.column div button {
     border: none;
     background-color: transparent;
}

button img {
     margin-left: -45px;
     margin-top: -55px;
     width: 290px !important;
     height: auto !important;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* MODAL STYLING BELOW */

/* The Modal (background) */
.modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
     margin: 0;
     padding: 0;
}

/* Modal Content/Box */
.modal-content {
     overflow-y: scroll;
     background-color: #FFFFFF;
     margin: auto;
     padding: 20px;
     border: 20px solid white;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
     width: 75%;
     height: 65vh;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     border-radius: 10px;
     position: relative;
     bottom: 50px;
}

/* The Close Button */
.close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     position: fixed;
     left: 1595px;
     bottom: 825px;
}

.close:hover,
.close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}

.info-container {
     width: 75%;
}

.leftColumn {
     margin-right: 40px;
     width: 25%;
}

.tagsUl {
     list-style: none;
     margin: 0;
     padding: 0;
}

.tags {
     font-family: 'Gotham Light Regular';
     font-size: 12px;
     color: #FFFFFF;
     display: inline-block;
     padding: 10px;
     background: #1897D4;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
     margin-right: 10px;
     margin-top: 10px;
     text-transform: uppercase;
     border-radius: 3px;
}

.info-book-cover {
     width: 100%;
     height: auto;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
}

.info-title {
     font-family: 'Gotham Bold';
     color: #2C2A29;
     font-size: 40px;
     margin: 0;
     padding: 0;
}

.info-author {
     font-family: 'Gotham Bold';
     font-size: 18px;
     color: #2C2A29;
     margin: 0;
     padding: 0;
     font-stretch: ultra-expanded;
     opacity: .7;
     margin-top: 50px;
}

.info-paragraph {
     font-family: 'Gotham XLight Regular';
     font-size: 22px;
     color: #2C2A29;
     margin: 0;
     padding: 0;
     margin-top: 25px;
     margin-bottom: 10px;
}

.hide {
     display: none;
}

#up-arrow {
     position: fixed;
     top: 230px;
     left: 1700px;
     background-color: #202C57;
     border-radius: 5px;
     height: 80px;
     width: 20px;
     transform: rotate(45deg);
     opacity: .9;
}

#up-arrow:before {
     background-color: #202C57;
     content: "";
     border-radius: 5px;
     position: absolute;
     width: 20px;
     height: 80px;
     top: -30.5px;
     left: 30.5px;
     transform: rotate(90deg);
}

#down-arrow {
     position: fixed;
     top: 620px;
     left: 1743px;
     background-color: #202C57;
     border-radius: 5px;
     height: 80px;
     width: 20px;
     transform: rotate(-135deg);
     opacity: .9;
}

#down-arrow:before {
     background-color: purple;
     content: "";
     border-radius: 5px;
     position: absolute;
     width: 20px;
     height: 80px;
     top: -30.5px;
     left: 30.5px;
     transform: rotate(90deg);
}
