.column {
     float: left;
}

.size-1of4 {
     width: 25%;
}

#grid[data-columns]::before {
     content: '4 .column.size-1of4';
}

img {
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button {
     padding: 0;
     margin: 0;
}

/* MODAL STYLING BELOW */
.modal {}

.modalContent {}

/* TEST */
/* The Modal (background) */
.modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
     background-color: #fefefe;
     margin: 15% auto;
     /* 15% from the top and centered */
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
     display: flex;
     flex-direction: row;
     /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}

.close:hover,
.close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}

.info-book-cover {
     margin: auto 0px;
     margin-right: 35px;
     height: 400px;
     width: auto;
}

.info-title {
     font-family: 'Libre Franklin';
     font-size: 40px;
     font-weight: 600;
     font-style: normal;
     margin: 0;
     padding: 0;
     font-stretch: semi-expanded;
}

.info-author {
     font-family: 'Libre Franklin';
     font-size: 25px;
     font-weight: 400;
     font-style: normal;
     margin: 0;
     padding: 0;
     font-stretch: ultra-expanded;
     opacity: .6;
     margin-top: 10px;
}

.info-paragraph {
     font-family: 'Libre Baskerville';
     font-size: 18px;
     font-weight: 400;
     font-style: normal;
     margin: 0;
     padding: 0;
     margin-top: 25px;
     margin-bottom: 10px;
}
}
